.App{
    position: relative;
    overflow-x: clip;
}

.App>:nth-child(1){
    background: var(--black);
    position: relative;
}

.container {
    position: absolute;
    width: 100%;
    height: 50vh;
    display: grid;
    place-items: center;
  }
  
  .white-gradient {
    background: rgba(255, 255, 255, 0.322);
    width: 20rem;
    height: 20rem;
    filter: blur(100px);
    position:absolute;
  }
  
  html {
    scroll-behavior: smooth;
  }
  